<!-- Toggle Bahasa -->
<div class="mb-3">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="languageToggle" id="showIndonesian" value="indonesian" checked>
    <label class="form-check-label" for="showIndonesian">Sembunyikan Indonesian</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="languageToggle" id="showEnglish" value="english">
    <label class="form-check-label" for="showEnglish">Sembunyikan English</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="languageToggle" id="showAll" value="all">
    <label class="form-check-label" for="showAll">Tampilkan Semua</label>
  </div>
</div>